In [1]:
print("hello world")

hello world

In [2]:
from sqlalchemy import create_engine,text
import pandas as pd

In [3]:
USERNAME="postgres"
PASSWORD="000000"
HOST='localhost'
PORT="5432"
DB_NAME= "danny" 

engine=create_engine(f"postgresql+psycopg2://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DB_NAME}")

In [24]:
try: 
    with engine.connect() as conn: 
        result = conn.execute(text("SELECT version();")) 
        print(result.fetchone()) 
except Exception as e: 
    print("Connection failed:", e)

('PostgreSQL 17.6 on x86_64-windows, compiled by msvc-19.44.35213, 64-bit',)

In [20]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [30]:
with engine.connect() as conn:
    result=conn.execute(text("SELECT table_name FROM information_schema.tables WHERE table_schema='public';"))
    print(result.fetchall())

[('employees',), ('marketing',)]

In [31]:
with engine.connect() as conn: 
    # Select all rows from employees 
    result = conn.execute(text("SELECT * FROM employees;")) 
    rows = result.fetchall() 
    for row in rows: 
        print(row)

(1, 'Alice Smith', 90000, 'Sales', 1, 4)
(2, 'Bob Johnson', 75000, 'Sales', 1, 3)
(3, 'Carol White', 72000, 'Sales', 1, 5)
(4, 'David Brown', 68000, 'Marketing', 4, 3)
(5, 'Eva Green', 65000, 'Marketing', 4, 4)
(6, 'Frank Harris', 64000, 'Marketing', 4, 2)
(7, 'Grace Lee', 62000, 'IT', 7, 5)
(8, 'Henry King', 60000, 'IT', 7, 4)
(9, 'Iris Scott', 58000, 'IT', 7, 4)
(10, 'Jake Moore', 56000, 'IT', 7, 5)
(11, 'Kelly Adams', 55000, 'IT', 7, 3)
(12, 'Liam Turner', 54000, 'IT', 7, 5)

In [32]:
em = pd.read_sql("SELECT * FROM employees;", engine) 
print(em.head())

   employee         name  salary department  manager  performance_rating
0         1  Alice Smith   90000      Sales        1                   4
1         2  Bob Johnson   75000      Sales        1                   3
2         3  Carol White   72000      Sales        1                   5
3         4  David Brown   68000  Marketing        4                   3
4         5    Eva Green   65000  Marketing        4                   4

In [ ]:
# Write DataFrame to PostgreSQL table
df.to_sql("employees", engine, if_exists="append", index=False)